<%- contentFor('body') %>

<h1>Edit <%= poke.name %></h1>

<div id='show-container'>
  <form action='/pokemon/<%= poke.id %>' method='POST'>
    <label for='name'>Name : </label>
    <input type='text' name='name' value='<%= poke.name %>'/>
    <label for='trainer'>Trainer : </label>
    <select name='trainer'>
      <% for(var i=0; i<trainers.length; i++){ %>
        <option value='<%= trainers[i].name %>'
          <% if(trainers[i].id === poke.trainer_id) { %>
            selected
          <% } %> >
          <%= trainers[i].name %>
        </option>
      <% } %>
    </select>
    <label for='cp'>Combat Power : </label>
    <input type='number' name='cp' value='<%= poke.cp %>'/>
    <input type='submit' value='edit' />
  </form>
</div>
