<!-- DO NOT TOUCH LINE 3 ! This imports our HTML layout-->
<!-- Everything below line 3 feel free to delete and or build on. This is just sample data -->
<%- contentFor('body') %>

<h1>All Pokemon : </h1>

<% if(pokemon) { %>
  <table>
    <thead>
      <th>
        Name
      </th>
      <th>
        Trainer Id
      </th>
      <th>
        Combat Power
      </th>
      <th>
      </th>
    </thead>
    <tbody>
      <% for(var i=0; i<pokemon.length; i++){ %>
        <tr>
          <td>
            <a href='/pokemon/<%= pokemon[i].id %>'><%= pokemon[i].name %></a>
          </td>
          <td>
            <%= pokemon[i].trainer_id %>
          </td>
          <td>
            <%= pokemon[i].cp %>
          </td>
          <td>
            <a href='/pokemon/<%=pokemon[i].id%>/edit'>Edit</a>
            <a href='/pokemon/<%=pokemon[i].id%>/delete'>Delete</a>
            <% if(pokemon[i].id === p1){ %>
              <a href='/pokemon/<%=pokemon[i].id%>/remove/p1'>Remove from Gym</a>
            <% } else if(pokemon[i].id === p2){ %>
              <a href='/pokemon/<%=pokemon[i].id%>/remove/p2'>Remove from Gym</a>
            <% } else if(!(p1 && p2)){ %>
              <a href='/pokemon/<%=pokemon[i].id%>/assign'>Assign to Gym</a>
            <% } %>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>
<% } %>

<button type="button" name="button" id="add_new">+ Add New Pokemon</button>

<script type="text/javascript">
   var btn = document.getElementById("add_new");
   btn.addEventListener("click", function(){
     window.location.href = '/pokemon/new';
   })
</script>
