<%- contentFor('body') %>

<h1>Gym</h1>

<% if(!p1 && !p2) { %>
  <form action='/pokemon/assign/p1' method='POST'>
    Choose Pokemon 1 :
    <select name='player'>
      <% for(var i=0; i<pokemon.length; i++){ %>
        <option value='<%= pokemon[i].id %>'><%= pokemon[i].name %></option>
      <% } %>
    </select>
    <input type='submit' value='choose p1' />
  </form>
  <form action='/pokemon/assign/p2' method='POST'>
    Choose Pokemon 2 :
    <select name='player'>
      <% for(var i=0; i<pokemon.length; i++){ %>
        <option value='<%= pokemon[i].name %>'><%= pokemon[i].name %></option>
      <% } %>
    </select>
    <input type='submit' value='choose p2' />
  </form>
<% } %>
